body{
    background-color: rgb(240, 221, 173); 
 }
 .aa{
     display: flex;
     justify-content: space-evenly;
 }
 .bb{
     text-align: center;
 }
 .cc{
     display: flex;
     justify-content: space-evenly;
 }
 
 